*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-image: url(desk.jpg);
background-size: cover;
background-position: top;
background-repeat: no-repeat;
font-family: sans-serif;
}
.manu{
 background:  rgb(0, 100, 0);
 text-align: center;
}
.manu ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.manu ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.manu ul li a {
    text-decoration: none;
    color: white;
}
.active,
.manu ul li:hover
{
    background:#2bab0d ;
    border-radius: 3px;
}
.sub_manu_1{
display: none;
}
.manu ul li:hover   .sub_manu_1{
display: block !important;
position: absolute;
background:  rgb(0, 100, 0);
margin-top: 15px;
margin-left: -15px;
}
.manu ul li:hover   .sub_manu_1 ul{
    display: block;
    margin: 10px;
}
.manu ul li:hover   .sub_manu_1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dashed white;
    background: transparent;
    text-align: left;
}
.manu ul li:hover   .sub_manu_1 ul li:last-child{
 border-bottom:none;
}
.manu ul li:hover   .sub_manu_1 ul li a:hover{
 color: #b2ff00;
}
.manu ul li:hover   .sub_manu_1 ul li span{
    float: right;
}
.sub_manu_2{
    display: none;
}
.hover:hover .sub_manu_2{
position: absolute;
display: block;
margin-top: -40px;
margin-left: 140px;
background: rgb(0, 100, 0);
}